.one{
    padding: 0%;
    margin: 0%;
    width: 100%;
    background: white;
}
.half{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
input{
    color: black;
}
label{
    color: black;
}
